#bodycontent
{
  width:100%;
  height:auto;
  font-family: sans-serif;
  line-height: 1.15;
  color: #f8f9fa;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align:left;
  background-color: #343a40;
}
.class1{
	position:sticky;
	top:0px;
}
.class3{
	color:red;
}
.class6{
	color:red;
}
a{
	text-decoration:none;
}
nav{
	width:100%;
    height:60px;
	display:inline-block;
}
 nav ul li {
	width:15%;
    height:60px;
	display:inline-block;
	text-align:center;
	padding:0px 0px 0px 0px;

}
.navbar:hover #div1{
	position:absolute;
	background-color:red;
	margin-top:10px;
	border-radius:25px;
}
#home{
	width:100%;
	height:600px;
	
	text-align:center;
	background-image:url(main.jpg);
	background-attachment:fixed;
	
}
h1{
	font-size:100px;
	text-align:center;
}
h2{
	font-size:50px;
}
#about{
	width:100%;
	height:650px;
	
	
}
#about #div3{
	width:50%;
	height:650px;
	float:left;
	display:flex;
	margin-right:10px;
}
#img1{
	width:100%;
	height:650px;
}
#div4{
	text-align:justify;
	margin:0px 70px 0px 0px;
}


#gallary{
	width:100%;
	height:1200px;
    background-image:url(artimg10.jpg);
	background-attachment:fixed;
}
#ourmenu1{
	clear:left;
	text-align:center;
	
}
#div2 #orderimg li{
	width:20%;
	height:280px;
	border:1px solid black;
	display:inline-block;
	margin:0px 25px 0px 25px;
}
#orderimg{
	padding:0px;
}
#artimg{
	width:100%;
	height:280px;
}
#book-table{
	width:100%;
	height:550px;
	background-image:url(booktable.jpg);
	background-attachment:fixed;
	
}
input{
	width:300px;
	height:40px;
	font-size:20px;
	margin: 10px;
	
	
}
#findtable1,#food1,#buttonjuice{
	background-color:red;
	color:white;
	border-color:white;
}
#blog{
	width:100%;
	height:900px;
	
	
}
iframe{
	width:100%;
	height:700px;
	border-color:black;
}
caption{
	font-size:80px;
	text-align:center;
}
#tablediv{
	width:100;
	height:40px;
}
input{
	text-align:center;
	
}
colspan{
	width:100%;
	height:;
}
#reviews
{
	width:100%;
	height:500px;
	display:inline-block;
	font-size:15px;
	
}
.class26{
	width:50%;
	height:500px;
	border:1px solid black;
	float:left;
	display:flex;
	margin-right:30px;
}
#div15{
	width:100%;
	height:500px;
	
}
footer{
	width:100%;
	height:455px;
	
	
}
#footer8,#footer5{
	text-align:center;
}
